[user]
	name = Jacob Jewell
	email = jacobjewell@eflexsystems.com

[core]
	excludesfile = /Users/jacob/.gitignore_global
editor = nvim
pager = delta --dark 

[color]
ui = auto

[push]
default = simple

[diff]
tool = bc3

[difftool]
bc3 = trustExitCode
prompt = false

[merge]
tool = bc3

[mergetool]
bc3 = trustExitCode

[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro

[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true

[filter "media"]
required = true
clean = git media clean %f
smudge = git media smudge %f

[filter "hawser"]
clean = git hawser clean %f
smudge = git hawser smudge %f
required = true

[filter "lfs"]
required = true
process = git-lfs filter-process
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f

[commit]
	template = /Users/jacob/.stCommitMsg

[fetch]
writeCommitGraph = true

[protocol]
version = 2
