[user]
name = Jacob Jewell
email = jacobjewell@eflexsystems.com

[pager]
difftool = true

[core]
excludesfile = /Users/jacob/.gitignore_global
editor = nvim

[color]
ui = auto

[push]
default = simple

[diff]
external = difft

[difftool]
prompt = false

[difftool "sourcetree"]
cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
path = -ro

[mergetool "sourcetree"]
cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
trustExitCode = true

[filter "lfs"]
required = true
process = git-lfs filter-process
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f

[commit]
template = /Users/jacob/.stCommitMsg

[init]
defaultBranch = main
